.hero{
    @include flex;
    @include padding;
    &__info{
        width: 50%;
        h1{
            @include font_1(4.8rem, 600, 150%);
        }
        p{
            @include paragraf_m;
            @include font_2;
            color: $second_color;
            
        }
        button{
            @include btn;
            @include font_2;
        }
    }
    &__img{
        @include flex;
        align-items: start;         
        gap: 2.4rem;
        width: 50%;
        img{
            width: 100%;
            &:nth-child(2){
                margin-top: 8.1rem;
            }
        }
        

    }
}